.producto{
    background-color: rgb(160, 210, 210);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 10px;
    text-align:center;
    font-size: 22px;
    height: 600px;
    width: fit-content;
}

.atributo{
    margin: 10px;
    padding: 10px;
}