button{
    width: fit-content;
    height: fit-content;
}

.contenedorContador{
    width: 300px;
    height: 100px;
    margin-top: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

 .botonesContador button{
    padding: 10px;
}